/* CSS for Alternative Hamlet pages */

body{
	color: white;
	background: black;
	font-family: Georgia, serif;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
}

a{
	color:#307cf4;
	font-size:24px;
	text-decoration: none;
}

a:hover{
	color:#68ccff;
	font-size:24px;
	text-decoration: none;
}

h1{
	font-size:36px;
	/* margin-left: 2%; */
}

p{
	font-size:24px;
	text-decoration: none;
}